@font-face {
  font-family: 'Shippori Mincho';
  src: font-url('ShipporiMincho-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Shippori Mincho', serif;
}